body {
  color: #83a7c8;
  background: #FFFFFF;
  font-size: 16px;
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-width: 700px;
}

* {
  margin: 0;
  padding: 0;
}

div {
  font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

.errortext{
    color: red;
}

.error{
    outline: none;
    border-color: red;
    box-shadow: 0 0 2px red;
    transition: box-shadow linear 0.2s;
}

.error:focus{
    box-shadow: none;
    border-color: white;
}
/*
  ===== Rounded image div ==================================
  Usage: <div class="outer"><div class="image">...</div></div>
  From:
  http://stackoverflow.com/questions/6856711/css-rounded-corners-on-an-image-problem
*/

.outer {
    width: 100px;
    height: 100px;
    float: left;
    margin: 5px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    overflow: hidden;
}

.outeruser{
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 10px;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    overflow: hidden;
}

.image img{
    width:100%;
    height:100%;
}

/*
  ===== Content divs =======================================
*/

#content {
  position: relative;
  background: #FFFFFF;
  width: 100%;
  min-height: 100%;
  overflow:hidden;
  -webkit-box-shadow: 0px 15px 10px 15px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 15px 10px 15px rgba(0,0,0,0.8);
  box-shadow: 0px 15px 10px 15px rgba(0,0,0,0.8);
}

.contentwrapper{
  width: 70%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

/*
  ===== Dashboard div =====================================
*/
.post{
  padding-top: 5px;
  padding-bottom: 5px;
  width: 900px;
  min-height: 300px;
  overflow: hidden;
  border-bottom: 1px solid #AAAAAA;
}

.post h1{
  font-size: 24px;
  word-wrap: break-word;
}

.description{
  height: 250px;
  word-wrap: break-word;
  overflow: hidden;
  margin-bottom: 5px;
}

.daysleft{
  width: 160px;
  float: right;
  text-align: right;
  font-size: 20px;
}

.fundedamount{
  width: 200px;
  float: right;
  text-align: right;
  font-size: 20px;
}

.postimage{
  height: 300px;
  width: 300px;
  margin-right:5px;
  float: left;
  overflow: hidden;
}

.postimage img{
  max-height: 300px;
}

/*
  ===== Project Page ========================================
*/
.project{
  width: 100%;
  min-height: 300px;
  word-wrap: break-word;
}

.projectdata{
  display:block-inline;
}

.projectdata h1{
  font-size: 24px;
  word-wrap: break-word;
}

/*
  ===== User Page ========================================
*/

.userpage{
  width: 100%;
  min-height: 170px;
  word-wrap: break-word;
}

.usercontainer{
  width: 100%;
  overflow: auto;
}

/*
  ===== Review Boxes ========================================
*/
.review{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  
  position: relative;
  float: left;
  width: 300px;
  
  /* Spacing within tab */
  padding: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  
  /* font */
  font-family: Verdana, Geneva, sans-serif;
  word-wrap: break-word;
  
  background: #bddeef;
}

/*
  ===== Community Tag =======================================
*/
.tag{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  
  position: relative;
  display: inline-block;
  max-width: 240px;
  min-height: 30px;
  
  /* Spacing within tab */
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  
  /* font */
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  word-wrap: break-word;
  
  background: #bddeef;
}

.join{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  
  position: relative;
  display: inline-block;
  min-height: 30px;
  
  /* Spacing within tab */
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  
  /* font */
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
  color: #83b8e1;
  
}

/*
  ===== Tabs =======================================
*/

#tabs{
  background: #AADDF6;
  height: 40px;
  width: 100%;
  padding-top: 10px;
  overflow: hidden;
}

.tabwrapper{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.tab{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.8) 0px 0 10px;
  -moz-box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
  
  position: relative;
  display: inline-block;
  height: 50px;
  
  /* Spacing within tab */
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  
  /* Spacing outside of tab */
  margin-left: 10px;
  
  /* font */
  font-family: Verdana, Geneva, sans-serif;
  font-size: 18px;
}

.unselected{
  background: #bddeef;
  color: #83a7c8;
}

.selected{
  background: #FFFFFF;
  color: #83b8e1;
  z-index: 1;
}

/*
  ===== Header =======================================
*/

.header {
  background: #AADDF6;
  color: #FFFFFF;
  overflow: auto;
  width: 100%;
}

.headercontent {
  padding: 20px;
  padding-left: 40px;
}

img.logo {
  width: 600px;
}

.headerbutton{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #FFFFFF;
  color: #83b8e1;
  
  position: relative;
  display: inline-block;
  
  /* Spacing within tab */
  padding: 5px;
  
  /* Spacing outside of tab */
  margin-left: 10px;
  margin-bottom: 5px;
  
  /* font */
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
}

.rightcontainer{
    float:right;
    overflow:hidden;
}

.loginform{
    padding:2px;
    height: 26px;
    border-radius: 5px;
}

/*
  ===== Footer =======================================
*/

.footer {
  background: #FFFFFF;
  color: #000000;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}
